<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Tasks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = "css/bootstrap.css" ) }}">
</head>

<body>

    <section class="vh-100" style="background-color: #212121;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7">
              <div class="card rounded-3">
                <div class="card-body p-4">
      
                  <h4 class="text-center my-3 pb-3">Task Master</h4>
    
                  <form class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2" method="post">
                    <div class="col-12">
                      <div class="form-outline text-center">
                        <input type="text" id="form1" class="form-control" name = "name" value = "{{ task.name }}"/>
                        <label class="form-label" for="form1">Update Task</label>
                      </div>
                    </div>
      
                    <div class="col-3">
                        <button type = "submit" class = "btn btn-primary">
                      <a name="" id="" class="btn btn-primary  btn-large" href="#" role="button">
                        <h1 class="display-6">Update</h1>
                      </a>
                      </button>
                    </div>
                  </form>
                  
      
        
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

</body>